
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 5.55%;

    .header-links {
        list-style: none;
        display: flex;
        gap: 30px;
        font-weight: 600;

        li {
            cursor: pointer;
            padding-bottom: 8px;
            &:hover {
                color: var(--primary-pink);
            }

            &.active {
                color: var(--primary-pink);
                border-bottom: 2px solid var(--primary-pink);
            }
        }
    }

    .header-actions {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}