
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 5.55%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-dark);
    
    .header-links {
        list-style: none;
        display: flex;
        gap: 30px;
        font-weight: 600;

        li {
            cursor: pointer;
            padding-bottom: 8px;
            &:hover {
                color: var(--primary-pink);
            }

            &.active {
                color: var(--primary-pink);
                border-bottom: 2px solid var(--primary-pink);
            }
        }
    }

    .header-actions {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}