<div class="roles-container">
  <div class="role-header">
    <div class="role-title">
      Our Services
    </div>
    <h2 class="role-tagline">Three Powerful Roles. One Platform.</h2>
    <p class="role-detail">Advertisers launch campaigns, agencies manage clients and
      media owners monetize their inventory.</p>
  </div>
  <div class="role-cards">
    <app-card *ngFor="let role of roleDeatils" [title]="role.title" [description]="role.description" [icon]="role.icon"
      actionLabel="Get Started">
    </app-card>
  </div>
</div>