<div class="platform-container">
  <div class="platform-content">
    <h2 class="main-title">Supercharge Your Media Strategy with <br> <span>Our 100% Efficiency</span></h2>
    <div class="platform-features">
      <div class="feature-item" *ngFor="let feature of features">
        <span class="check-icon"><i class="fa-solid fa-circle-check"></i></span>
        <p>{{ feature }}</p>
      </div>
    </div>
    <div class="platform-btn">
      <app-button label="Optimize Your Media Today"></app-button>
    </div>
  </div>
</div>