.solution-container {
  background-color: var(--bg-gray);
  padding: 6rem 8rem;
  color: var(--text-white);

  .header {
    text-align: center;
    margin-bottom: 60px;

    .sub-title {
      color: var(--primary-pink);
      font-size: 16px;
    }

    .main-title {
      font-size: 42px;
      margin: 10px 0;
      font-weight: 600;
    }

    .description {
      color: var(--text-muted);
      max-width: 600px;
      margin: 0 auto;
      line-height: 1.5;
    }
  }

  .solution-content {
    display: flex;
    gap: 50px;
    align-items: center;
  }
}