$primary-pink: #ff3358;

.hero-section {
  background: rgb(32, 33, 45);
  min-height: 360px;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 5%;

  .hero-badge {
    color: $primary-pink;
    border: 1px solid rgba(255, 51, 88, 0.4);
    padding: 6px 14px;
    border-radius: 50px;
    font-size: 12px;
    display: inline-block;
  }

  .hero-title {
    font-size: 70px;
    font-weight: 500;
    line-height: 1.1;
    margin: 24px 0;
  }

  .hero-subtitle {
    font-size: 18px;
    color: #888;
    margin-bottom: 16px;
  }

}