<div class="solutions-container">
  <div class="solutions-header">
    <div class="solutions-title">
      WHY MEDIA ALA CARTE
    </div>
    <h2 class="solutions-tagline">Our All Solution for Smarter Media Buying.</h2>
    <p class="solutions-description">Plan and optimize your ad campaigns with data-driven insights and seamless collaboration for
      maximum impact.</p>
  </div>
  <div class="solutions-cards">
    <app-card *ngFor="let solution of solutionDetails" [title]="solution.title" [description]="solution.description" [icon]="solution.icon"
      actionLabel="Get Started">
    </app-card>
  </div>
</div>