<footer>
    <div class="footer-container">
        <div class="footer-body">
            <div class="footer-col">
                <img src="assets/images/logo.png" alt="Media Alacarte Logo" width="150">
                <p class="footer-tagline">The Future of Media Hub</p>
                <div class="footer-socials">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
            <div class="footer-col">
                <h4>Useful Links</h4>
                <div class="footer-links">
                    <a *ngFor="let link of links" href="{{ link.url }}">{{ link.name }}</a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Contact Us</h4>
                <div class="footer-contact" *ngFor="let contact of contacts">
                    <i [ngClass]="contact.icon"></i>
                    <p [innerHTML]="contact.text"></p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright © 2024 Media Alacarte. All rights reserved.</p>
        </div>
    </div>
</footer>